body {
    background-color: #003d66;
}

h1 {
    text-align: center;
}

#info {
    width: 250px;
    margin: auto;
}

button {
    background-color: #99004d; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

button:hover {
    background-color: #cc0066;
}

#img {
    padding: 15px;
    display: table;
    margin: auto;
}

#user {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    background-color: white;
}

strong {
    font-size: 1.2rem;
}